# docker-compose.yml
services:
  frontend:
    build: .
    container_name: shop-cong-nghe
    ports:
      - "3003:3003"
    env_file:
      - .env.prod
    environment:
      - NODE_ENV=production
    restart: unless-stopped